@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700&display=swap');

body {
    background-color: rgb(235, 224, 208);
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 243, 232);
    width: 70vw;
    margin: 10px auto;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 15px rgba(170, 170, 170, 0.144);
    font-size: 1.1em;
}

h1, h2, strong {
    color:rgb(102, 30, 40);
    
}

h1 {
    padding: 10px;
}

img {
    width: 35vw;
    padding-bottom: 15px;
}


.btn {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(102, 30, 40);
    font-weight: 700;
}

button { 
    background-color: rgb(235, 224, 208);
    box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.2);
    border: none;
    border-radius: 8px;
    margin: 5px;
}

button:hover{
    background-color: rgb(240, 218, 185);
    border: 1px solid rgba(102, 30, 40, 0.747);
}


li {
    padding: 13px;
}


.crust:hover {
    text-decoration: underline;
}

ul li {
    padding-bottom: 8px;
}

ol li {
   margin: auto;
}